{% load static %}
<script type="text/javascript" src="{% static 'FatigueDetect/home.js' %}"></script>
<!-- <link rel="stylesheet" href="home.css"> -->
<video id="video_in" style="padding:1px;border:3px solid black;" width="400" height="400" autoplay></video>
<img id="video_out" style="padding:1px;border:3px solid black;"width="400" height="400"></img>
<p style="text-align:center">
<button id="start-button">Start</button>
<button id="detect">GoHomeSafe</button>
<button id="stop-button">Stop</button>
</p>